.app-footer {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 5vh;

	padding: 0.5em 1em;
	background-color: var(--clr1bg);
	color: var(--clr1bg-light);

}

.app-footer p {
    margin: 0;
}