.app-header {
    height: 5vh;

    background-color: var(--clr1bg);
    color: var(--clr1bg-light);
}

.app-header .header-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header h1 {
    margin: 0;
}

.app-header nav {
    display: flex;
    gap: 1em;
}

.app-nav {
    display: flex;
    gap: 15px;
}

a.active {
    color: var(--clr2bg);
    font-weight: 600;
    text-decoration: underline;
}