.bug-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;

    padding: 0;
    list-style: none;
}

.bug-list li {
    display: grid;
    padding: 0.8em;
    background-color: var(--clr1bg);
}

.bug-list .actions {
    display: flex;
    gap: .5em;
}