.user-msg {
    position: fixed;
    bottom: 6vh;
    right: 1em;

    display: flex;
    align-items: center;
    gap: .5em;

    padding: .5em 1em;
    background-color: lightgray;
    border-radius: 2px;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    opacity: 0;
    translate: 150%;
    transition: 1s;
}

.msg-visible {
    opacity: 1;
    translate: 0;
}

.user-msg.success {
    background-color: var(--clr1);
}

.user-msg.error {
    background-color: var(--clr2);
}

.user-msg p {
    margin: 0;
}
