* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	color: var(--gray3);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em;
	font-family: Arial, Helvetica, sans-serif;
    text-wrap: balance;
}

p {
    margin: 0 0 1em;
    text-wrap: pretty;
}

a {
	text-decoration: none;
	color: unset;
	cursor: pointer;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
    display: block;
	max-width: 100%;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
	outline: 1px solid gold;
}